extends layout

block content

 section#about-us
  .container
    .center.wow.fadeInDown
      h2 Photo Gallery
    // about us slider
    #about-slider.about-sge
      #carousel-slider.carousel.slide(data-ride="carousel")
        // Indicators
        ol.carousel-indicators.visible-xs
          li.active(data-target="#carousel-slider", data-slide-to="0")
          li(data-target="#carousel-slider", data-slide-to="1")
          li(data-target="#carousel-slider", data-slide-to="2")
        .carousel-inner
          .item.active
            img.img-responsive(src="https://lh3.googleusercontent.com/-74zgfZEOb7k/VZ9iEQzbWzI/AAAAAAAAAC8/AE8j4FWT_HI/s1024-Ic42/slider_one.jpg", alt="")
          .item
            img.img-responsive(src="https://lh3.googleusercontent.com/-74zgfZEOb7k/VZ9iEQzbWzI/AAAAAAAAAC8/AE8j4FWT_HI/s1024-Ic42/slider_one.jpg", alt="")
          .item
            img.img-responsive(src="https://lh3.googleusercontent.com/-74zgfZEOb7k/VZ9iEQzbWzI/AAAAAAAAAC8/AE8j4FWT_HI/s1024-Ic42/slider_one.jpg", alt="")
        a.left.carousel-control.hidden-xs(href="#carousel-slider", data-slide="prev")
          i.fa.fa-angle-left
        a.right.carousel-control.hidden-xs(href="#carousel-slider", data-slide="next")
          i.fa.fa-angle-right
      // /#carousel-slider
    // /#about-slider

    // our-team
    .team
      .center.wow.fadeInDown
        h2 Meet the Executive Board !
      .row.clearfix
        .col-md-4.col-sm-6
          .single-profile-top.wow.fadeInDown(data-wow-duration="1000ms", data-wow-delay="300ms")
            .media
              .pull-left
                a(href="#")
                  img.media-object(src="https://lh3.googleusercontent.com/-SosoG5NQ_4c/VZ9hS5vsBCI/AAAAAAAAACE/zsJpobIxqCg/h120/man1.jpg", alt="")
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href="#") Web
                  li.btn
                    a(href="#") Ui
                  li.btn
                    a(href="#") Ux
                  li.btn
                    a(href="#") Photoshop
                ul.social_icons
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus
            // /.media
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don"t look even slightly believable.
        // /.col-lg-4
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-top.wow.fadeInDown(data-wow-duration="1000ms", data-wow-delay="300ms")
            .media
              .pull-left
                a(href="#")
                  img.media-object(src="https://lh3.googleusercontent.com/-aTp0IU0fqlg/VZ9hTMKYUyI/AAAAAAAAACI/6zALyVcZQZU/h120/man2.jpg", alt="")
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href="#") Web
                  li.btn
                    a(href="#") Ui
                  li.btn
                    a(href="#") Ux
                  li.btn
                    a(href="#") Photoshop
                ul.social_icons
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus
            // /.media
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don"t look even slightly believable.
        // /.col-lg-4
      // /.row
      .row.team-bar
        .first-one-arrow.hidden-xs
          hr
        .first-arrow.hidden-xs
          hr
          i.fa.fa-angle-up
        .second-arrow.hidden-xs
          hr
          i.fa.fa-angle-down
        .third-arrow.hidden-xs
          hr
          i.fa.fa-angle-up
        .fourth-arrow.hidden-xs
          hr
          i.fa.fa-angle-down
      // skill_border
      .row.clearfix
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-bottom.wow.fadeInUp(data-wow-duration="1000ms", data-wow-delay="600ms")
            .media
              .pull-left
                a(href="#")
                  img.media-object(src="https://lh3.googleusercontent.com/-Gw81yYIJ3FU/VZ9hTNAmVJI/AAAAAAAAACM/sHFbZH0bW9o/h120/man3.jpg", alt="")
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href="#") Web
                  li.btn
                    a(href="#") Ui
                  li.btn
                    a(href="#") Ux
                  li.btn
                    a(href="#") Photoshop
                ul.social_icons
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus
            // /.media
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don"t look even slightly believable.
        .col-md-4.col-sm-6.col-md-offset-2
          .single-profile-bottom.wow.fadeInUp(data-wow-duration="1000ms", data-wow-delay="600ms")
            .media
              .pull-left
                a(href="#")
                  img.media-object(src="https://lh3.googleusercontent.com/-aX5M0Om7Z_4/VZ9hT7am_KI/AAAAAAAAACg/fgqeRCE2ANQ/h120/man4.jpg", alt="")
              .media-body
                h4 Jhon Doe
                h5 Founder and CEO
                ul.tag.clearfix
                  li.btn
                    a(href="#") Web
                  li.btn
                    a(href="#") Ui
                  li.btn
                    a(href="#") Ux
                  li.btn
                    a(href="#") Photoshop
                ul.social_icons
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-google-plus
            // /.media
            p
              | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don"t look even slightly believable.
      // /.row
    // section
  // /.container
// /about-us
