extends layout

block content
    section#main-slider.no-margin
      .carousel.slide
        ol.carousel-indicators
          li.active(data-target="#main-slider", data-slide-to="0")
          li(data-target="#main-slider", data-slide-to="1")
          li(data-target="#main-slider", data-slide-to="2")
        .carousel-inner
          .item.active(style="background-image: url(images/slider/SGE_bg1.jpg)")
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Welcome to The Society of Global Engineers
                    h2.animation.animated-item-2 This is a paragraph of our mission statement
                    a.btn-slide.animation.animated-item-3(href="#") Read More

          // /.item
          .item(style="background-image: url(images/slider/SGE_bg2.jpg)")
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Ice cream Social
                    h2.animation.animated-item-2 2015 January 12th # Univeristy of Michigan Duderstats
                    a.btn-slide.animation.animated-item-3(href="#") Read More

          // /.item
          .item(style="background-image: url(images/slider/SGE_bg3.jpg)")
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 Tutorial Program
                    h2.animation.animated-item-2 2015 June 14th # Canton Public Library
                    a.btn-slide.animation.animated-item-3(href="#") Read More
          // /.item
        // /.carousel-inner
      // /.carousel
      a.prev.hidden-xs(href="#main-slider", data-slide="prev")
        i.fa.fa-chevron-left
      a.next.hidden-xs(href="#main-slider", data-slide="next")
        i.fa.fa-chevron-right
    // /#main-slider
    section#welcome-blurb
      .container
        .wow.fadeInDown
          p#welcome Welcome to the website for the Global Society of Enigneers at the University of Michigan.
          p
            |As a student organization, we have a strong presence on campus and a strong backing from the international IEEE organization. On campus, we have technical speakers present at our meetings, company representatives talk about their technology and recruit our students, social events, and community service events. Also, we work with HKN to manage and staff the dB cafe, a food stand that provides food at a low cost to students, faculty, and anyone else who comes by our stand.
      // /.container
    // /#welcome-blurb
    section#recent-works
      .container
        .center.wow.fadeInDown
          h2 Recent Events
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            br
            | et dolore magna aliqua. Ut enim ad minim veniam
         .col-md-12.main-title.text-center
           <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=yangyf%40umich.edu&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

      // /.container
    // /#recent-works


    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.prettyPhoto.js")
    script(src="js/jquery.isotope.min.js")
    script(src="js/main.js")
    script(src="js/wow.min.js")